#content
{
    display: grid;
    gap: 1em;
    grid-template-areas: 
        "avatar  name"
        "avatar  bio"
        "avatar  bio"
        "avatar  bio";

    margin: 2em auto;
}

#name
{
    grid-area: name;
    margin: auto;
    text-align: center;
}

#avatar
{
    grid-area: avatar;
}

#bio
{
    grid-area: bio;
}

@media only screen and (max-width: 768px)
{
    #content
    {
        display: grid;
        gap: 1em;
        grid-template-areas:
            "name"
            "avatar"
            "bio";
    }

    #avatar
    {
        margin: auto;
    }
}